*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
        font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    
}
:root {
            --sb-green: #00704A;       
            --sb-dark-green: #1e3932;
}


footer ul{
    padding-left: 0;
    
}

footer .col-md-2,.col-12{
 margin-right: 2rem;
 margin-left: 2rem;
 padding: 1rem;


}
footer .col-md-2 li,.col-12 li{
    list-style: none;
 margin-top: 2rem;

}

 .accordion-button:not(.collapsed) {
      background-color: #f8f9fa;
      color: #000;
    }